<div class="card-booking col-12">

  <div class="card-booking-img"
        style="background-image: url(<%= booking.art.photo.attached? ? cl_image_path(booking.art.photo.key) : asset_path('icone_images.png') %>)">
  </div>

  <div class="card-booking-details">

    <div class="card-booking-content-top">

      <div class="card-booking-content-1">
        <h2><%= booking.art.name.capitalize%></h2>
        <p>Renter:</p>
        <div class="card-booking-content-1-user">
            <% if booking.user.photo.attached? %>
              <%= cl_image_tag booking.user.photo.key, class: "card-content-art-picture", crop: :fill %>
              <% else %>
                <%= image_tag "profil.png", alt: "profile picture", class: "card-content-art-picture" %>
              <% end %>
          <p><%= booking.user.name%></p>
        </div>
      </div>

      <div class="card-booking-content-2">
        <div class="line-info content-2-status d-inline-flex">
          <p>Status:</p>
          <p> <%= booking.status%></p>
        </div>
        <div class="line-info d-inline-flex">
          <p>Dates: </p>
          <p> <%= booking.start_date%> - <%= booking.end_date%></p>
        </div>
        <div class="line-info d-inline-flex">
          <p>Total price: </p>
          <p> <%= booking.art.price * (booking.end_date - booking.start_date).to_i %> €</p>
        </div>
      </div>

    </div>

    <div class="booking-btn-bottom">
      <%= link_to "Send a message", root_path, id: 'btn-send-msg', class: 'darkgreenbtn' %>
    </div>

  </div>

</div>
