<%= simple_form_for(@art, data: { controller: "character-count" }) do |f| %>
  <%= f.input :name, label: "Name (Min. 2 char.)", placeholder: "What is the name of your artwork" %>
  <%= f.input :category, label: "Category", :collection => ["painting", "photography", "ceramic", "statue", "tapestry"], prompt: "Choose a category" %>
  <%= f.input :description, label: "Description (Min. 10 char.)", placeholder: "Write a short description of your artwork", input_html: { data_character_count_target: "text", data_action: "keyup->character-count#updateCounter" } %>
  <%# <div
      id="counter"
      class="m-2 p-1 b-1"
      data-character-count-target="counter"
    ></div> %>
  <%= f.input :year, label: "Year", placeholder: "What is the date of your artwork" %>
  <%= f.input :artist, :collection => Artist.all, prompt: "Choose a category" %>
  <%= f.input :price, label: "Price per day", placeholder: "What is the price" %>
  <%= f.input :photo, label: "Photo", as: :file %>
  <%= f.submit %>
<% end %>
