<div class="art-new-content">

  <div class="art-new-title col-12 col-md-4">
    <h1>Add a new artwork for rent</h1>
  </div>

  <div id="art-new-form" class="form col-12 col-md-8 ">
    <%= simple_form_for(@art, data: { controller: "character-count" }) do |f| %>
      <%= f.input :name, label: "Name (Min. 2 char. , Max. 30 char.)", placeholder: "What is the name of your artwork", input_html: { "data-target": "character-count.textName", "data-action": "keyup->character-count#updateCounterName" } %>
      <p
          id="counter"
          class="m-2 p-1 b-1"
          data-character-count-target="counterName"
        ></p>
      <%= f.input :category, label: "Category", :collection => Art::CATEGORY, prompt: "Choose a category" %>
      <%= f.input :description, label: "Description (Min. 10 char. , Max. 1000 char.)", placeholder: "Write a short description of your artwork", input_html: { "data-target": "character-count.text", "data-action": "keyup->character-count#updateCounter" } %>
      <p
          id="counter"
          class="m-2 p-1 b-1"
          data-character-count-target="counter"
        ></p>
      <%= f.input :year, label: "Year", placeholder: "What is the date of your artwork" %>
      <%= f.input :artist, :collection => Artist.all, prompt: "Choose a category" %>
      <%= f.input :price, label: "Price per day", placeholder: "What is the price" %>
      <%= f.input :photo, label: "Photo", as: :file %>
      <%= f.submit %>
    <% end %>
  </div>

</div>