<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "logo_artify.png" %>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


   <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item active">
             <%= link_to "Rent my art", new_art_path, class: "darkgreenbtn"%>
          </li>
          <li class="nav-item">
                 <% if current_user %>
              <%= link_to "My profile", user_path(current_user.id), class: "darkgreenbtn" %>
            <% else %>
              <%= link_to "Log in", user_session_path, class: "darkgreenbtn" %>
            <% end %>
          </li>
          <li class="nav-item dropdown">
             <% if current_user.photo.attached? %>
             <%#<img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://kitt.lewagon.com/placeholder/users/ssaunier" /%>
                <%= cl_image_tag @booking.user.photo.key, class: "avatar dropdown-toggle", id:"navbarDropdown", data: {bs_toggle:"dropdown", aria_haspopup: true, aria_expanded: false } %>
            <% else %>
                <%= image_tag "profil.png", alt: "profile picture", class: "avatar dropdown-toggle", id:"navbarDropdown", data: {bs_toggle:"dropdown", aria_haspopup: true, aria_expanded: false } %>
            <% end %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
             <% if current_user %>
                <%= link_to "Rent a new artwork", new_art_path, class: "dropdown-item"%>
                <%= link_to "My profile", user_path(current_user.id), class: "dropdown-item"%>
                <%= link_to "Log out", destroy_user_session_path, style: "color:red", class: "dropdown-item", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
              <% else %>
                <%= link_to "Log in", user_session_path, class: "dropdown-item" %>
              <% end %>
            </div>
          </li>
          <!--li class="nav-item"-->
          <!--/li-->
      </ul>
    </div>
  </div>
</div>
