<!DOCTYPE html>
<html>
  <head>
    <title>Artify</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <!-- add flatpickr -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

    <!-- add stimulus -->
    <script type="importmap">
      {
        "imports": {
          "@hotwired/stimulus": "https://unpkg.com/@hotwired/stimulus/dist/stimulus.js"
        }
      }
    </script>

  </head>
 
  <body class="<%= controller_name %> <%= action_name %>">
     <div class="app-container">
        <header class="fixed-header">
          <%= render "layouts/navbar" %>
        </header>
        <div class="content-wrap">
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
          <div class="main-container">
            <%= yield %>
          </div>
        </div>
        <footer class="fixed-footer">
          <%= render "layouts/footer" %>
        </footer>
    </div>
  </body>

</html>
